<div class="modal-content">
    <div class="modal-header" id="modalAlert">
      <div align="center">
        <h3 class="modal-title">{{currentAction}}</h3>
      </div>
    </div>
    <div class="modal-body">
      <div class="alert alert-danger bp-alert" ng-show="error">
        <a href="#" class="close" aria-label="close" ng-click="clearAlert(true)" >&times;</a>
        <strong>Error:</strong> <span class="bp-alert-message"> {{errorMessage}} <span>
      </div>
      <div class="alert alert-success bp-alert" ng-show="success ">
        <a href="#" class="close" aria-label="close" ng-click="clearAlert(false)" >&times;</a>
        <strong>Éxito:</strong> <span class="bp-alert-message"> {{successMessage}} <span>
      </div>
      <form class="bp-modal-form">
        <label>Compañia</label>
          <div class="dropdown bp-dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
              Seleccione una Compañia<span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li ng-repeat="company in companies"><a href="#">{{company.name}}</li>
            </ul>
          </div>
        <label>Nombre</label>
        <input ng-model="user.name">
        <label >Apellidos</label>
        <input ng-model="user.lastName"></input>
        <label >Email</label>
        <input ng-model="user.email"></input>
        <label >Roles</label>
        <ul class="bp-top-spaced">
          <li class="list-group-item" ng-click="modifyRole(role)" ng-class="role.class" ng-repeat="role in displayRoles">{{role.name}}</li>
        </ul>
      </form>
    </div>
    <div class="modal-footer">
      <div align="center">
      <button class="btn-lg bp-button bp-cancel-button" type="button" ng-click="cancel()" autofocus>Salir</button>
        <button class="btn-lg bp-button bp-submit-btn" type="button" ng-click="save()" autofocus ng-show="currentAction === modalActions.add">Guardar</button>
      </div>
    </div>
</div>


