<div class="modal-content">
    <div class="modal-header" id="modalAlert">
      <div align="center">
        <h3 class="modal-title">{{currentAction}}</h3>
      </div>
    </div>
    <div class="modal-body">
      <div class="alert alert-danger bp-alert" ng-show="error">
        <a href="#" class="close" aria-label="close" ng-click="clearAlert(true)" >&times;</a>
        <strong>Error:</strong> <span class="bp-alert-message"> {{errorMessage}} <span>
      </div>
      <div class="alert alert-success bp-alert" ng-show="success ">
        <a href="#" class="close" aria-label="close" ng-click="clearAlert(false)" >&times;</a>
        <strong>Éxito:</strong> <span class="bp-alert-message"> {{successMessage}} <span>
      </div>
      <form class="bp-modal-form">
          <label>Tipo de Equipo</label>
        <select id="select1" ng-model="selectedEquipmentType" ng-options="equipment.name for equipment in equipmentTypes" ng-change="updateAttributes(equipment)" >
        </select>

        <label>Código del Equipo</label>
        <input ng-model="factor.code">

        <label>Marca</label>
        <input ng-model="factor.brand">

        <label>Modelo</label>
        <input ng-model="factor.model">

        <label>Unidad de Tratamiento</label>
        <input ng-model="factor.treatmentUnit">

        <label>Voltaje Nominal</label>
        <input ng-model="factor.voltage" type="number">

        <label>Amperios Nominal</label>
        <input ng-model="factor.ampers" type="number">

        <label>Potencia Nominal</label>
        <input ng-model="factor.potence" type="number">

        

<!-- 
        <label >Atributos</label>
        <ul class="bp-top-spaced">
          <li class="list-group-item" ng-class="attribute.class" ng-repeat="attribute in attributes track by $index">
              <input type="number"  min="1" max="5" ng-model="values[$index]">
              {{attribute.name}}</li>
        </ul> -->


      </form>


    </div>
    <div class="modal-footer">
      <div align="center">
      <button class="btn-lg bp-button bp-cancel-button" type="button" ng-click="cancel()" autofocus>Salir</button>
        <button class="btn-lg bp-button bp-submit-btn" type="button" ng-click="save()" autofocus
        ng-show="currentAction === modalActions.add" >Guardar</button>
      </div>
    </div>
</div>


