<div class="modal-content">
    <div class="modal-header" id="modalAlert">
      <div align="center">
        <h3 class="modal-title">Remover</h3>
      </div>
    </div>
    <div class="modal-body">
      <div class="bp-modal-form">
        <label>¿Seguro que desea remover este objeto? </label>
      </div>
    </div>
    <div class="modal-footer">
      <div align="center">
      <button class="btn-lg bp-button bp-cancel-button" type="button" ng-click="cancel()" >Cancelar</button>
        <button class="btn-lg bp-button bp-submit-btn" type="button" ng-click="remove()" >Remove</button>
      </div>
    </div>
</div>


